example/node_modules
example/target
project-parent/src/main/frontend
project-parent/target
example/src/main/frontend/generated
sb-configs/target
viritin-project-parent/target/
viritin-project-parent/src/main/frontend
/target/
